<% include header %>
    <div class="row">
     <div class="col-xs-12">

     </div>
    <header align="center">Contact details</header>

<body align="center">  
      

    <a href="https://www.facebook.com/"><img src ="images/fb.jpg" width=80px></a>
    <a href="https://www.linkedin.com/in/preetham-reddy-7ab1ba124/"><img src ="images/link.png" width=80px></a>
    <a href="https://github.com/preethampotu"><img src ="images/git.jpg" width=80px></a>
    <link href="/css/Preetham.css" rel="stylesheet">  
    <a href="https://bitbucket.org/potu/"><img src ="images/bitbucket.png" width=80px></a><br>
    


<form class ="form1">
       
        First name:
        <input type="text" name="firstname" required>
        <br><br>
        Last name:
        <input type="text" name="lastname" required><br><br>
        Email ID:
        <input type="email" name="Email" required><br><br>
       
  <button type="button" name="submit" onclick="alert('Thank you! For your response!')">submit</button>

</form> 


</body>
<% include footer %>
