<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>Preetham Potu</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      
      
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  
  <title>quiz</title>
  <link rel='stylesheet' href="css/Quiz.css" type='text/css'/>
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<title>Contact</title>


  </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container1">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index">Home</a>
            <a class="navbar-brand" href="/Quiz">Quiz</a>
            <a class="navbar-brand" href="/Contact">Contact</a>
          </div>
        </div>
      </nav>