<% include header %>
   
   <div class="row">
      <div class="col-xs-12">
   
   <body>
     
      
           
        <img class="img-circle" src="images/MY PIC.jpg" align="right" height="200" width="200">
      <header>
          
         <h1>  07-Preetham Potu</h1>
         
      </header>
      <main>
         <article>
            <section id="current-section">
                <h2  class="section-header"> CURRENT</h2>
               <p id="para1">I am a new graduate student of Northwest Missouri State University from fall 2018 working on my masters of Applied Computer science.</p>
            </section>
            <section id="past-section">
               <h2  class="section-header">BACKGROUND</h2>
               <p id="para2">I am from Hyderabad, and I recently completed my undergraduate program in Electronics and communication Engineering from Vasavi College Of Engineering affiliated to Osmania University (India). 
                  Though I'm from ECE in UG, I am interested in couple of computer subjects like Artificial Intelligence, Cloud computing and Web applications.
               </p>
            </section>
            <section id="future-section">
               <h2 class="section-header">FUTURE GOAL</h2>
               <p id="para3">I want to use the knowledge from masters, to become expert in the fields of area of my interest as mentioned above.</p>
            </section>
            <h2 class="section-header">My University</h2>
            <iframe  width="560" height="315" src="https://youtube.com/embed/2OcbJkQY-SA" allowfullscreen></iframe>
            <section>
               <h2  class="section-header">SCHEDULE</h2>
               
               <ol>
                   
                  <LI>Database management system</li>
                  <LI>Object oriented programming</li>
                  <LI>Development of Web applications and services</li>
                  <LI>OOP'S lab</li>
               </ol>
               
            </section>
         </article>
      </main>
      <ASIDE>
            <link href="/css/Preetham.css" rel="stylesheet"> 
         <H2 class="aside-header">MY HOBBIES</H2>
         <P id ="para4">My hobbies are watching movies, solving logical puzzles, browsing internet etc.</P>
      </ASIDE>
      
      

<% include footer %>